@import '../../App.module.scss';
$button_vertical_padding: 16px;

.whiteBox {
  background: #ffffff;
  border-radius: $default_border_radius;
  min-height: 10px;
}

.card {
  @extend .whiteBox;
  padding: 16px 16px 28px 16px;
}

.buttonGroup {
  @extend .whiteBox;
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  & > :first-child {
    border-radius: $default_border_radius $default_border_radius 0 0;
  }
  & > :last-child {
    border-radius: 0 0 $default_border_radius $default_border_radius;
  }

  & > :not(:last-child) > * {
    border-bottom: 1px solid $border_color;
  }
}

.dataButton {
  position: relative;
  padding: 0 0 0 16px;
  text-align: left;
  font-size: 17px;
  background: white;
  border: 0;

  &:hover {
    background: $border_color;
  }
}

.buttonInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 11px 16px 11px 0;
}

.cardHeader {
  display: flex;
  padding-bottom: 18px;
  margin-bottom: 20px;
  border-bottom: $default_border_bottom;
}
.iconContainer {
  margin-right: 24px;
}

.titlesContainer {
  margin-top: 4px;
}

.cardTitle {
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}
.cardSubtitle {
  display: inline-block;
  color: #86878c;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.detailsList {
  & > :not(:last-child) {
    margin-bottom: 6px;
  }
  & > :first-child {
    margin-bottom: 12px;
  }
}

.detailsListHeader {
  font-weight: 500;
  color: #000;
}
.detailsListHeaderValue {
  color: $light_blue;

  &:hover {
    border-bottom: 1px solid $light_blue;
    color: lighten($light_blue, 10%);
  }
}
