.formInput {
  align-items: center;
  border-bottom: 1px solid rgba(24, 24, 24, 0.24);
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.inputWrap {
  display: flex;
}
.formInput:last-child {
  border-bottom: 0;
}

.formInput label {
  min-width: 121px;
  padding-bottom: 4px;
}

.formInput input {
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  border: 0;
}
.formInput input::placeholder {
  color: rgba(60, 60, 67, 0.6);
}

.formError {
  color: red;
  font-size: 14px;
  display: block;
}
