.card {
  padding: 16px 16px 28px 16px;
  background: #ffffff;
  border-radius: 10px;
  min-height: 10px;
}

.cardHeader {
  text-transform: uppercase;
  display: flex;
  margin: 0 0 12px 16px;
  color: rgba(60, 60, 67, 0.6);
}
