$horizontal_padding: 16px;
$vertical_padding: 24px;
$grey_text: rgba(60, 60, 67, 0.6);
$light_blue: #0f77f0;
$light_grey: #86878c;
$border_color: rgba(24, 24, 24, 0.24);
$default_border_bottom: 1px solid $border_color;
$default_border_radius: 10px;

.app {
  margin: 0 auto;
  padding: $vertical_padding $horizontal_padding;
  max-width: 600px;
  font-size: 17px;
  line-height: 22px;
}
