body {
  margin: 0;
  font-family: -apple-system, system-ui, 'SF Pro Text', BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fa;
}

* {
  margin: 0;
}
