body {
  margin: 0;
  font-family: -apple-system, system-ui, 'SF Pro Text', BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fa;
}

* {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input {
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}
